# Understanding the Objective
*  The goal is to predict whether people in the Pathrise program will **find job** with the help of the course or not.

# Import Libraries

In [21]:
import pandas as pd

# Explore Data

In [22]:
raw_data = pd.read_excel('C:/Users/Marina/Desktop/Codes ^.^/Pathrise/Data_Pathrise.xlsx')

In [28]:
raw_data.head().T

,0,1,2,3,4
pathrise_status,Active,Active,Closed Lost,Closed Lost,Placed
primary_track,SWE,PSO,Design,PSO,SWE
cohort_tag,OCT19A,JAN20A,AUG19B,AUG19B,AUG19A
program_duration_days,NaN,NaN,0.0,0.0,89.0
placed,0,0,0,0,1
employment_status,Unemployed,Unemployed,Employed Part-Time,Contractor,Unemployed
highest_level_of_education,Bachelor's Degree,"Some College, No Degree",Master's Degree,Bachelor's Degree,Bachelor's Degree
length_of_job_search,3-5 months,3-5 months,Less than one month,Less than one month,1-2 months
biggest_challenge_in_search,Hearing back on my applications,Getting past final round interviews,Figuring out which jobs to apply for,Getting past final round interviews,Hearing back on my applications
professional_experience,3-4 years,1-2 years,Less than one year,Less than one year,1-2 years
work_authorization_status,Canada Citizen,Citizen,Citizen,Citizen,F1 Visa/OPT
number_of_interviews,2.0,6.0,0.0,5.0,10.0
number_of_applications,900,0,0,25,100
gender,Male,Male,Male,Male,Male
race,Non-Hispanic White or Euro-American,Non-Hispanic White or Euro-American,East Asian or Asian American,Decline to Self Identify,East Asian or Asian American

*'placed' is our Target*

In [24]:
raw_data = raw_data.drop(columns = 'id')

In [25]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pathrise_status              2544 non-null   object
 1   primary_track                2544 non-null   object
 2   cohort_tag                   2536 non-null   object
 3   program_duration_days        1928 non-null   float64
 4   placed                       2544 non-null   int64
 5   employment_status            2315 non-null   object
 6   highest_level_of_education   2486 non-null   object
 7   length_of_job_search         2470 non-null   object
 8   biggest_challenge_in_search  2520 non-null   object
 9   professional_experience      2322 non-null   object
 10  work_authorization_status    2260 non-null   object
 11  number_of_interviews         2326 non-null   float64
 12  number_of_applications       2544 non-null   int64
 13  gender                       2052 non-null   object
 14  race                         2526 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 298.3+ KB

In [33]:
raw_data.describe().T

,count,mean,std,min,25%,50%,75%,max
program_duration_days,1928.0,136.098548,125.860248,0.0,14.0,112.0,224.0,548.0
placed,2544.0,0.375786,0.484420,0.0,0.0,0.0,1.0,1.0
number_of_interviews,2326.0,2.182287,2.959273,0.0,0.0,1.0,3.0,20.0
number_of_applications,2544.0,36.500786,53.654896,0.0,9.0,20.0,45.0,1000.0

In [27]:
raw_data.describe(include='O').T

,count,unique,top,freq
pathrise_status,2544,9,Placed,956
primary_track,2544,6,SWE,1678
cohort_tag,2536,47,JAN19A,132
employment_status,2315,5,Student,775
highest_level_of_education,2486,7,Bachelor's Degree,1361
length_of_job_search,2470,5,Less than one month,815
biggest_challenge_in_search,2520,10,Hearing back on my applications,1002
professional_experience,2322,4,1-2 years,882
work_authorization_status,2260,9,Citizen,1104
gender,2052,4,Male,1492
race,2526,9,East Asian or Asian American,900

In [31]:
raw_data.isnull().sum()

pathrise_status                  0
primary_track                    0
cohort_tag                       8
program_duration_days          616
placed                           0
employment_status              229
highest_level_of_education      58
length_of_job_search            74
biggest_challenge_in_search     24
professional_experience        222
work_authorization_status      284
number_of_interviews           218
number_of_applications           0
gender                         492
race                            18
dtype: int64

In [32]:
raw_data.isnull().mean()*100

pathrise_status                 0.000000
primary_track                   0.000000
cohort_tag                      0.314465
program_duration_days          24.213836
placed                          0.000000
employment_status               9.001572
highest_level_of_education      2.279874
length_of_job_search            2.908805
biggest_challenge_in_search     0.943396
professional_experience         8.726415
work_authorization_status      11.163522
number_of_interviews            8.569182
number_of_applications          0.000000
gender                         19.339623
race                            0.707547
dtype: float64

## Define each column

In [35]:
raw_data.columns

Index(['pathrise_status', 'primary_track', 'cohort_tag',
       'program_duration_days', 'placed', 'employment_status ',
       'highest_level_of_education', 'length_of_job_search',
       'biggest_challenge_in_search', 'professional_experience',
       'work_authorization_status', 'number_of_interviews',
       'number_of_applications', 'gender', 'race'],
      dtype='object')

In [45]:
'''
value_counts() ALL
'''
for c in raw_data.columns:
    # Print the column name in bold
    print(f"\033[1mColumn: {c}\033[0m")  # \033[1m for bold, \033[0m to reset

    # Print the number of unique values
    print(f"Number of unique values: {raw_data[c].nunique()}")

    # Print the value counts
    print(raw_data[c].value_counts())

    # Add an empty line for better readability
    print("\n")

Column: pathrise_status
Number of unique values: 9
pathrise_status
Placed                956
Active                532
Withdrawn             398
Withdrawn (Trial)     276
Closed Lost           182
Withdrawn (Failed)     82
MIA                    52
Deferred               34
Break                  32
Name: count, dtype: int64


Column: primary_track
Number of unique values: 6
primary_track
SWE          1678
PSO           322
Design        288
Data          248
Web             6
Marketing       2
Name: count, dtype: int64


Column: cohort_tag
Number of unique values: 47
cohort_tag
JAN19A    132
JAN20A    124
DEC18A    116
FEB20A    108
AUG19C     88
OCT18B     84
JAN20B     82
AUG19B     82
OCT18A     82
MAR19A     74
JAN19B     74
OCT19A     68
JUL19A     66
SEP19B     66
DEC19A     64
FEB19A     64
JUN19B     64
NOV19A     62
NOV18A     62
SEP19A     60
AUG19A     60
SEP18C     54
OCT19B     54
JUN19A     54
SEP18B     50
AUG18A     50
APR19A     48
JUN18A     48
SEP18A     48
MAR19B     44
JUL19B     44
FEB19B     42
NOV19B     40
APR19B     34
MAY18A     32
MAR18A     30
FEB18A     30
APR18B     30
FEB20B     28
APR18A     24
MAY19B     20
MAY19A     18
JAN18A     10
MAR20A     10
APR20A      6
FEB20a      4
OCT21A      2
Name: count, dtype: int64


Column: program_duration_days
Number of unique values: 411
program_duration_days
0.0      217
13.0      34
11.0      27
12.0      25
14.0      22
        ...
363.0      1
425.0      1
157.0      1
457.0      1
488.0      1
Name: count, Length: 411, dtype: int64


Column: placed
Number of unique values: 2
placed
0    1588
1     956
Name: count, dtype: int64


Column: employment_status
Number of unique values: 5
employment_status
Student               775
Unemployed            665
Employed Full-Time    435
Employed Part-Time    270
Contractor            170
Name: count, dtype: int64


Column: highest_level_of_education
Number of unique values: 7
highest_level_of_education
Bachelor's Degree                   1361
Master's Degree                      810
Some College, No Degree              135
Doctorate or Professional Degree     135
High School Graduate                  15
GED or equivalent                     15
Some High School                      15
Name: count, dtype: int64


Column: length_of_job_search
Number of unique values: 5
length_of_job_search
Less than one month    815
1-2 months             785
3-5 months             515
6 months to a year     235
Over a year            120
Name: count, dtype: int64


Column: biggest_challenge_in_search
Number of unique values: 10
biggest_challenge_in_search
Hearing back on my applications         1002
Getting past final round interviews      294
Technical interviewing                   288
Lack of relevant experience              222
Getting past mid-stage interviews        210
Figuring out which jobs to apply for     186
Getting past phone screens               180
Behavioral interviewing                   60
Resume gap                                42
Technical skills                          36
Name: count, dtype: int64


Column: professional_experience
Number of unique values: 4
professional_experience
1-2 years             882
Less than one year    618
3-4 years             558
5+ years              264
Name: count, dtype: int64


Column: work_authorization_status
Number of unique values: 9
work_authorization_status
Citizen           1104
F1 Visa/OPT        644
Green Card         184
F1 Visa/CPT        132
Other              112
H1B                 48
Canada Citizen      24
STEM OPT             8
Not Authorized       4
Name: count, dtype: int64


Column: number_of_interviews
Number of unique values: 21
number_of_interviews
0.0     758
1.0     522
2.0     307
3.0     203
4.0     193
5.0     137
6.0      76
7.0      60
10.0     19
20.0     18
8.0       6
17.0      4
11.0      4
18.0      4
14.0      3
19.0      3
12.0      2
9.0       2
15.0      2
16.0      2
13.0      1
Name: count, dtype: int64


Column: number_of_applications
Number of unique values: 41
number_of_applications
15      296
10      193
20      171
25      166
30      156
50      128
60      110
35      105
70       96
40       94
45       81
0        76
7        73
3        72
6        70
2        68
4        67
8        65
9        62
5        59
1        54
80       51
90       36
100      31
200      20
150      18
160      17
130      17
140      16
170      15
110      13
180      12
120      12
190      11
300       3
400       3
350       2
500       2
900       1
800       1
1000      1
Name: count, dtype: int64


Column: gender
Number of unique values: 4
gender
Male                        1492
Female                       538
Decline to Self Identify      16
Non-Binary                     6
Name: count, dtype: int64


Column: race
Number of unique values: 9
race
East Asian or Asian American                  900
Non-Hispanic White or Euro-American           573
South Asian or Indian American                537
Latino or Hispanic American                   156
Black, Afro-Caribbean, or African American    126
Two or More Races                              96
Decline to Self Identify                       69
Middle Eastern or Arab American                66
Native American or Alaskan Native               3
Name: count, dtype: int64

In [50]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pathrise_status              2544 non-null   object
 1   primary_track                2544 non-null   object
 2   cohort_tag                   2536 non-null   object
 3   program_duration_days        1928 non-null   float64
 4   placed                       2544 non-null   int64
 5   employment_status            2315 non-null   object
 6   highest_level_of_education   2486 non-null   object
 7   length_of_job_search         2470 non-null   object
 8   biggest_challenge_in_search  2520 non-null   object
 9   professional_experience      2322 non-null   object
 10  work_authorization_status    2260 non-null   object
 11  number_of_interviews         2326 non-null   float64
 12  number_of_applications       2544 non-null   int64
 13  gender                       2052 non-null   object
 14  race                         2526 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 298.3+ KB

In [49]:
raw_data['placed'].value_counts()
# Target

placed
0    1588
1     956
Name: count, dtype: int64